[user]
    name = [REDACTED]
    email = [REDACTED]

[credential "https://github.com"]
    username = your-github-username
    helper = "!f() { echo "password=your-github-personal-access-token-here"; }; f"
